.container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: top;
  border-style: solid;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.left {
  flex: 2;
  padding: 2%;
}
.middle {
  flex: 2;
  padding: 2%;
}
.right {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2%;
}
